body{
    text-align: center;
    color: blue;
    background-color: burlywood;
}

.post{
    margin: 0 auto;
}

.cabecera{
    background-color: chartreuse;
    width: 100%;
    height: 100px;
    margin: 0 auto;
}